# Copyright 2020-2024 Datum Technology Corporation
# All rights reserved.
#######################################################################################################################


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover*

# Test artifacts
*.log
*.tmp

# Sphinx documentation
docs/_build/

# Pytest
.cache/

# Virtual Environment
venv/
.env/
.venv/
.env.bak/
env/
venv.bak/

# IDE and editor files
/.idea/
/.vscode/
/*.swo
/*.swp
*~
.*.sw?

# macOS files
.DS_Store
reports
ov-report=xml:reports

.mio