[submodule "tests/data/fsoc/rtl/core-v-mcu"]
	path = tests/data/fsoc/rtl/core-v-mcu
	url = https://github.com/openhwgroup/core-v-mcu
	branch = master
[submodule "tests/data/integration/rvmcu_raw/rtl/core-v-mcu"]
	path = tests/data/integration/rvmcu_raw/rtl/core-v-mcu
	url = https://github.com/Datum-Technology-Corporation/core-v-mcu
	branch = shelled_core
[submodule "rtl/core-v-mcu"]
	path = rtl/core-v-mcu
	url = https://github.com/Datum-Technology-Corporation/core-v-mcu
	branch = shelled_core
