# Copyright 2020-2024 Datum Technology Corporation
# All rights reserved.
#######################################################################################################################

sphinx==4.1.2
sphinx-autobuild==2024.10.3
sphinx-rtd-theme
sphinx.ext.viewcode
sphinx.ext.napoleon
sphinx.ext.autosectionlabel
sphinx_autodoc_typehints

